.classpath
.project
.settings
.idea
datamodel.pdf
*.iml
target
**/.DS_Store
data
output
my*.properties
premonitor.properties
createLODE+uploadOnServer.sh
postprocess-tbox.sh
siteGeneration-README.txt
